body{
    margin:0;
    display: grid;
    grid-template-areas: 'header header header header'
                         'nav nav nav nav'
                         'aside aside aside aside'
                         'footer footer footer footer';
grid-template-rows: 10vh 15vh 80vh 20vh;
}

header{
    grid-area: header;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    color:white;
}
nav{
    grid-area: nav;
    background-color: rgb(189, 189, 189);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    color:#333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 80px;
   
}

aside{
    grid-area: aside;
    display: flex;
    background-color: rgb(143, 21, 5);   
    align-items: center;
    flex-direction: column;
    border-bottom: 10px solid red;
}

aside h3{
    margin-top: 40px;
    font-size: 30px;
    color: black;
    display: flex;
    
}

#carouselExampleInterval{
    display: flex;
    align-items: center;
    width: 650px;
    height: 650px;
    

}