body{
    margin:0;
}

h1{
    font-size: 40px;
    color: rgb(0, 23, 226);
    text-decoration-line: underline;
    text-decoration-color: rgb(49, 20, 20);
}
nav{
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #916130;
    border: solid red;
}

header{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/uni/MarvelVSdc.jpg);
    background-size: 1110px;
    border: solid red;
}

header a img{
    width: 200px;
    border-radius: 80%;
    background-color: rgba(0, 0, 255, 0.178);
}