<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
    <title>Hero Wiki</title>
</head>
<body>
 
    <header>
        <a href="../templates/index.html">Hero Wiki</a>
    </header>
 
    <nav>
        <a href="universos.html">Universos</a>
        <a href="herois.html">Heróis</a>
        <a href="">Sobre</a>
        <a href="">Apoie</a>
    </nav>
 
        <h1>Universo DC</h1>
        <h2>Herois da DC</h2>
       
       
</body>
</html>