<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Booststrap aqui embaixo vei -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- css aqui -->
    <link rel="stylesheet" href="/static/style.css">

    <title>Hero Wiki</title>
</head>
<body>

    <header><h1>Hero Wiki</h1></header>

    <nav>
        <a href="">Universos</a>
        <a href="">Herois</a>
        <a href="">Vilões</a>
        <a href="">Sobre</a>
        <a href="">Apoie</a>
    </nav>
    <aside>
        <h3>Novidade no Ar!!</h3>
    
    </aside>

    <footer>
        <a href=""><img src="" alt=""></a>
        <a href=""><img src="" alt=""></a>
        <a href=""><img src="" alt=""></a>
        <a href=""><img src="" alt=""></a>
    </footer>
    
</body>
</html>